@use '@/core/styles/core.scss';

@use '@/layout/styles/common.scss' as *;
@use '@/layout/styles/editor.scss' as *;

@use '@/paragraph/styles/common.scss' as *;
@use '@/paragraph/styles/editor.scss' as *;

@use '@/line/styles/common.scss' as *;

@use '@/image/styles/common.scss' as *;

@use '@/underline/styles/common.scss' as *;

#editor {
  border: 1px solid #eaeaea;
  border-radius: 1rem;

  &:has(.ProseMirror-focused) {
    border-color: lightslategray;
  }
}
