.main {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#result {
  border: 1px solid lightslategray;
  border-radius: 1rem;
}

pre {
  font-size: 0.625rem;
  overflow: auto;
  box-sizing: border-box;
  padding: 1rem;
  border: 1px solid lightslategray;
  text-align: left;
}
