.ProseMirror {
  flex: 1 1 auto;
  position: relative;
  word-wrap: break-word;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: 'liga' 0;
  padding: 16px;
  line-height: 1.65;
  outline: none;
  height: 100%;
}
