@use './variables' as *;

.#{$base-class-name}-hover-decoration {
  position: relative;
  outline: 2px solid #0080ff40;

  &::after {
    content: attr(data-node-type);
    position: absolute;
    top: calc(-0.875rem + -3px);
    left: -1px;
    box-sizing: border-box;
    padding: 1px 3px;
    border-radius: 4px 4px 0 0;
    background: #333;
    color: white;
    line-height: 1;
    font-size: 0.875rem;
  }
}
