@use '@/core/styles/variables' as *;

.#{$base-class-name}-image-wrapper {
  display: inline-block;
  position: relative;

  &:not(.ProseMirror-selectednode) {
    .#{$base-class-name}-image-resize-handle {
      display: none;
    }
  }

  &.ProseMirror-selectednode {
    .#{$base-class-name}-image-resize-handle {
      display: block;
      position: absolute;
      width: 12px;
      height: 12px;
      background-color: #4c9ffe;
      border: 2px solid white;
      border-radius: 50%;
      z-index: 2;

      &-right-bottom {
        bottom: -6px;
        right: -6px;
        cursor: se-resize;
      }
    }
  }

  .#{$base-class-name}-image {
    max-width: 100%;
    height: auto;
    display: block;

    &:not([data-width]) {
      max-width: 300px;
    }
  }
}
